server {
    listen 127.0.0.1:8080;
    server_name mixed.local;
   


    location / {
        root /site;
        upload_path /uploads;
        index index.html index.php;
        autoindex on;
        return "ahma";
    }

    location /upload {
        root /upload;
        methods POST;
        upload_path /upload/tmp;
        return "llll";
    }

    location /old {
       cgi_extensions .py /a/b .php /usr/bin/php;
        return 301 /new;
    }
}
